body {
    background-image: url(../img/vintage-concrete.png);
}

.logo {
    font-family: 'Peralta', cursive;
}

.logo a {
    color: rgb(27, 12, 12)
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}